@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --lighttheme-background:#fff;
  --darktheme-background:#141414;
  --text-colour-lightmode:#000;
  --text-colour-darkmode:#fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  
}


button {
  cursor: pointer;
}














