

.navbar {
    width: 100%;
    height: 3rem;
    background-color: var(--lighttheme-background);
    box-shadow: 0 0 2px black;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.left-nav{
    display: flex;
    align-items: center;
}

.rightnav{
    display: flex;
    align-items: center;
}

.Brand-name{
    font-size: 1.7rem;
}

.serachbox{
  padding: .5rem 1rem;
  width: 30rem;
  border-radius: 5px;
  outline: none;
  border: .2px solid rgba(23, 23, 23, 0.374);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.341);
}

.mode-change{
    width: 30px;
    outline: none;
    border: none;
    height: 30px;
    background-color: black;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.user-icon{
    width: 35px;
    height: 35px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    background-color: rgb(149, 13, 246);
}